%h1 Product Listing
-@products.each do |product|
  %div
    %h3= product.name
    %ul
      %li= product.price
      %li= product.description
    = link_to 'Edit', edit_product_path(product), class: "btn btn-primary"
    = link_to 'Show', product_path(product), class: "btn btn-primary"
    = link_to 'Delete', product_path(product), method: :delete, class: "btn btn-danger" 